@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
    font-family: "Poiret One", "Roboto", sans-serif;
    background: url('../img/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}


.container {
  min-width: 40em;
    margin: 0 auto;
    background: rgba(204, 204, 204, .5);
}


h1, h2 {
  text-align: center;
}
h1 {
    font-size: 3em;
    font-weight: lighter;
}
h2 {
  text-transform: capitalize;
}


a {
  &:focus {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
  }
  &:hover, &:focus {
      color: #198764;
      text-decoration: underline;
  }
}
.module {
  border: 1px solid #ccc;
  margin: 0 auto;
  width: 40%;
  > h2 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
  }
}

.stripe {
  width: 50%;
  margin: 0 auto;
  height: 15px;
  color: white;
  background: linear-gradient(
  to bottom,
  #fff 10%,
  #fff 10%,
  transparent 0%,
  transparent 0%
  );
  background-size: 100% 5px;
}

.buttons {
    margin-bottom: 1em;
    border-bottom: 5px solid white;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-smoothing: antialiased;
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
}
.btn {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:focus, &.focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;

    &:hover, &:focus, &.focus {
        color: #333;
        text-decoration: none;
    }
    &:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}


.fa-twitter, .fa-play {
  color: #74c3e2;
}
